.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.md
!CHANGELOG.md
.claude/**
esbuild.js
.git/**
.github/**
.eslintrc.json
tsconfig.json
